*{
  margin:0px;
  padding:0px;
}
body {
    background-color: #d4d4d4;
    width: 100vw;
    overflow-x: hidden;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    border-bottom: 1px solid rgba(245, 242, 242, 0.462);
    height: 75px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.661);
    position: fixed;
    width: 100%;
    background: radial-gradient(circle, rgb(10, 10, 10) 0%, rgba(17,17,17,1) 47%, rgba(0,0,0,1) 100%);
    z-index: 1000;
    color: white;
    
  }

  .leftnav h1 {
    font-family: "Baloo Tammudu 2", system-ui;
    margin-top: 15px;
    font-weight: 1000;
    cursor: pointer;
    color: white;
  }
  .rightnav{
    width: 30%;
    padding-top: 18px;
    
    
} 
.rightnav a{
text-decoration: none;
color: black;
}
.rightnav ul{
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
   

  }
  
.rightnav li {
    font-family: "East Sea Dokdo", sans-serif;
    font-size: 1.8rem;
    color: white;
    
  }
  
.dropdown1 {
   
    margin-top: 10px;
    background-color: rgb(247, 244, 244);
    box-shadow: 1px 2px 10px black;
    height: 0px;
    padding: 0px;
    padding-top: 0px;
    transition: 0.3s;
    text-align: left;
    
    
    
  }
  
  .dropdown1 li {
    margin-bottom: 10px;
    padding-bottom: 2px;
    display: none;
    padding-left: 3px;
    color: #000000;
    
    
  }
  
 
  #dropdown2:hover{
      text-align: center;
      padding-left: 60px;
      
  }
  #dropdown2:hover .dropdown1 {
    display: block;
    height: 100px;
    padding: 10px;
    padding-top: 15px;
    border-radius: 6px;
    margin-left: -30px;
    
  }
  #dropdown2:hover .dropdown1 ul{
       display: flex;
       flex-direction: column;
       
  }
  #dropdown2:hover .dropdown1 li {
    display: block;
    
    
  }
  
  .navlinks::after {
    content: '';
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 3px;
    width: 0;
    left: 0;
    top: 25px;
    transition: 0.3s;
    margin-top: 5px;
    border-radius: 10px;
  }
  
  .navlinks {
    transition: 0.3s;
    cursor: pointer;
  }
  
  .navlinks:hover {
    transform: scale(1.05);
  }
  
  .navlinks:hover::after {
    width: 100%;
  }

  #dropdown2 p::after {
    content: '';
    position: absolute;
    background-color: rgb(7, 7, 7);
    height: 3px;
    width: 0;
    left: 0;
    top: 25px;
    transition: 0.3s;
    margin-top: 5px;
    border-radius: 10px;
  }
  
  #dropdown2 p{
    transition: 0.3s;
    cursor: pointer;
    
    width: fit-content;
  }
  
  #dropdown2 p:hover {
    transform: scale(1.05);
  }
  
  #dropdown2 p:hover::after {
    width: 100%;
  }
  
  .dropdown1 li:hover {
    background-color: rgba(0, 0, 0, 0.175);
    border-radius: 5px;
  }
  
  .logbtn {
    padding-left: 0px;
    height: 80%;
    padding-top: 20px;
    margin-right: 70px;
  }
  
  .logbtn button {
    width: 100px;
    height: 40px;
    font-family: "East Sea Dokdo", sans-serif;
    font-size: 1.8rem;
    color: black;
    background-color: rgb(247, 248, 249);
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.394);
    transition: 0.3s;
  }
  
  .logbtn button:hover {
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    transform: scale(1.10);
  }
  
  #logo1 {
    text-decoration: none;
    color: black;
    
  }
  
  .menubar {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 20px;
  }
  
  
  @media (max-width: 768px) {
    .rightnav {
      display: none;
      flex-direction: column;
      background-color: rgb(247, 247, 247);
      position: absolute;
      top: 75px; 
      right: 0;
      width: 100%;
      box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.661);
    }
  
    .rightnav ul {
      flex-direction: column;
      align-items: center;
    }
  
    .rightnav li {
      padding: 10px 0;
      color: #000000;
    }
  .navlinks::after{
        margin-top: 15px;
        background-color: #000000;
    }
   
    .menubar {
      display: block;
      
    }
   

.rightnav.show {
  display: flex;
  height: auto;
  opacity: 1;
  width: 100%;
  border-radius: 3px;
  margin-top: 1px;
}

.rightnav {
  width: 40%;
  padding-top: 8px;
  opacity: 0; 
  transition: opacity 0.3s ease-in-out; 
}

    
    .dropdown1 li{

    margin-bottom: 0px;
    }
    .dropdown1 li:hover{
        background-color: rgba(0, 0, 0, 0);
        transform: scale(1.02);
        
    }
    .logbtn{
      display: block;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .rightnav {
      padding-right: 100px;
    }
  
    .menubar {
      display: none;
    }
   
    .dropdown1 li{

    margin-bottom: 0px;
    
    }
    .dropdown1 li:hover{
        background-color: rgba(0, 0, 0, 0);
        transform: scale(1.02);
        
    }
  }
  
  @media (min-width: 1025px) {
    .rightnav {
      display: flex;
    }
  
    .menubar {
      display: none;
    }
  }
.footer {
  background: radial-gradient(circle, rgb(225, 225, 225) 0%, rgb(231, 231, 231) 47%, rgb(248, 248, 248) 100%);
    color: rgb(3, 3, 3);
    text-align: center;
    padding: 30px 20px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.661);
    border-top: 1px solid rgba(190, 178, 178, 0.839);
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    margin: 20px;
  }
  
  .footer-section h1, .footer-section h2 {
    font-family: "Baloo Tammudu 2", system-ui;
    color: #000000;
    margin-bottom: 10px;
  }
  
  .footer-section p, .footer-section ul, .footer-section li {
    font-family: "East Sea Dokdo", sans-serif;
    font-size: 1.8rem;
    line-height: 1.6;
  }
  
  .footer-section ul {
    list-style-type: none;
  }
  
  .footer-section a {
    color: #000000;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #bdc3c7;
  }
 
