
.loader-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 89%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .loader-video {
    top: 25vh;
    left: 50vh;
    width: 50%;
    height: 50%;

  }
  