.recipes {
  background: linear-gradient(to bottom right, #ffffff, #f0f0f0);
  min-height: 100vh;
  padding-top: 80px;
  position: relative;
  width: 100%;
  
}

.recipes h1 {
  font-family: "Baloo Tammudu 2", system-ui;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
}

.cat1 h1 {
  font-family: "East Sea Dokdo", sans-serif;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

section {
  padding: 40px 80px;
  position: relative;
}

.cat1 {
  display: flex;
  flex-wrap: nowrap; 
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  position: relative;
}

.cat1::before,
.cat1::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background: rgba(135, 134, 134, 0.2);
}

.cat1::before {
  width: 250px;
  height: 250px;
  bottom: -100px;
  left: -80px;
}

.cat1::after {
  width: 250px;
  height: 250px;
  bottom: -90px;
  right: -100px;
}

.cat1 img {
  width: 150px;
  height: 150px;
  border: 2px solid rgb(135, 134, 134);
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  flex-shrink: 0; /* Prevent items from shrinking */
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.682);
}

.cat1 img:hover {
  transform: scale(1.05) rotate(5deg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}



/* Additional Background Designs */
.recipes::before,
.recipes::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.recipes::before {
  top: 0px;
  left: -10%;
  width: 400px;
  height: 400px;
  transform: rotate(45deg);
}

.recipes::after {
  bottom: 0px;
  right: -10%;
  width: 400px;
  height: 400px;
  transform: rotate(45deg);
}



@media (max-width: 768px) {
  section {
      padding: 20px 40px;
  }

  .recipes h1, .tit1 h1 {
      font-size: 2.5rem;
  }

  .tit1 p {
      font-size: 2rem;
  }

  .cat1 {
      flex-wrap: wrap; /* Allow wrapping on small screens */
      gap: 10px;
  }

  .cat1 img {
      width: 120px;
      height: 120px;
  }
}

@media (max-width: 992px) {
  section {
      padding: 30px 60px;
  }
}

@media (min-width: 1200px) {
  section {
      padding: 40px 80px;
  }

  .cat1 img {
      width: 150px;
      height: 150px;
  }
}
