

.recipe-detail-container {
    background: linear-gradient(to bottom right, #f3f3f3, #f0f0f0);
    min-height: 100vh;
    padding: 80px 20px 40px; 
    font-family: Arial, sans-serif;
    color: #333;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100vw; 
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    box-sizing: border-box; 
    
  }
  
  .recipe-detail-container::before,
  .recipe-detail-container::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background: rgba(135, 134, 134, 0.2);
  }
  
  .recipe-detail-container::before {
    width: 200px;
    height: 200px;
    top: -50px;
    left: -50px;
  }
  
  .recipe-detail-container::after {
    width: 150px;
    height: 150px;
    bottom: -50px;
    right: -50px;
  }
  
  .loading {
    text-align: center;
    font-size: 1.5em;
    margin-top: 50px;
  }
  
  .recipe-header {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
  }
  
  .recipe-image {
    width: 100%;
    max-width: 400px; 
    height: auto; 
    object-fit: cover; 
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.527);
    transition: transform 0.3s;
    margin-top: 10px;
  }
  

  
  .recipe-title {
    font-size: 2.5em;
    margin: 10px 0;
    font-family: "Baloo Tammudu 2", system-ui;
    color: black;
    text-shadow: 2px 2px 5px rgb(36, 36, 36);
  }
  
  .recipe-section {
    margin-bottom: 20px;
    background: linear-gradient(to bottom right, #000000c2, #000000);   
    color: #f1efef;
    border-radius: 5px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.805);
    padding: 20px;
    position: relative;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
  }
  
  .recipe-section::before, .recipe-section::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
  }
  
  .recipe-section::before {
    width: 100px;
    height: 100px;
    top: -20px;
    left: -20px;
  }
  
  .recipe-section::after {
    width: 150px;
    height: 150px;
    bottom: -20px;
    right: -20px;
  }
  
  .recipe-section h2, .recipe-section h4 {
    font-size: 3em; /* Increased font size */
    margin-bottom: 5px;
    font-family: "Baloo Tammudu 2", system-ui;
    text-shadow: 2px 2px 5px rgb(36, 36, 36);
  }
  
  .recipe-section p {
    font-size: 1.7em;
    line-height: 1.6;
    text-shadow: 2px 2px 5px rgb(36, 36, 36);
    font-family: "Dekko", cursive;
    font-weight: 100;
    word-spacing: 5px;
  letter-spacing: 1px;
  }
  
  .recipe-meta {
    margin-top: 20px;
    font-size: 1.5em;
  }
  
  .recipe-meta p {
    margin: 5px 0;
    font-family: "East Sea Dokdo", sans-serif;
    color: black;
    text-shadow: 2px 2px 5px rgba(36, 36, 36, 0.065);
  }
  
  @media (max-width: 768px) {
    .recipe-detail-container {
      padding: 90px 20px 20px; /* Added top padding */
     /* Prevent container from touching the edges */
    }
  
    .recipe-image {
      max-width: 400px
    }
  
    .recipe-section {
      padding: 15px;
    }
  
    .recipe-title {
      font-size: 2em;
    }
  
    .recipe-section h2, .recipe-section h4 {
      font-size: 1.5em; /* Slightly smaller for smaller screens */
    }
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
    .recipe-detail-container {
      padding: 80px 30px 40px; /* Added top padding */
       /* Prevent container from touching the edges */
    }
  
    .recipe-image {
      max-width: 100%;
    }
  
    .recipe-section {
      padding: 20px;
    }
  
    .recipe-title {
      font-size: 2.2em;
    }
  
    .recipe-section h2, .recipe-section h4 {
      font-size: 1.7em; /* Slightly smaller for medium screens */
    }
  }
  
  @media (min-width: 1200px) {
    .recipe-detail-container {
      padding: 80px 40px 40px; /* Added top padding */
    }
  
    .recipe-title {
      font-size: 3em;
    }
  
    .recipe-section {
      padding: 30px;
    }
  }
  