.container {
    padding-top: 90px;
    text-align: center;
    margin-bottom: 70px;
  }
  .container h1{
    font-family: "Baloo Tammudu 2", system-ui;
    font-size: 3rem;
    margin-bottom: -10px;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .card-content a{
      text-decoration: none;
      color: black;
      font-size: 1.8rem;
      font-weight: 500;
  }
  .card-content h2{
    font-family: "East Sea Dokdo", sans-serif;
    
  }
  .card {
    width: 250px;
    border: 1px solid #b7b7b7;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.49);
  }
  .card:hover{
    transform: scale(1.02);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.74);
  }
  .card-img img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 10px;
  }
  
  .card-content h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .card-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .icon {
    font-size: 1.5rem;
    color: #0a0a0a;
    cursor: pointer;
  }
  
  .icon:hover {
    color: #ff9900;
  }
  
  #deletebtn{
    background-color: #bd091b;
    transition: 0.3s;
  }
  #deletebtn:hover{
    background-color: #5b040c
  }
  